<div class="col-md-10">
    <h1 class="text-center">Create new phone</h1>
    <form role="form">
        <div class="form-group">
            <label for="namePhone">Name phone</label>
            <input type="text" class="form-control" id="namePhone"  [(ngModel)]="namePhone" placeholder="Модель телефона" name="namePhone">
        </div>
        <div class="form-group">
            <label for="typephonePhone">Type phone</label>
            <input type="text" class="form-control" id="typephonePhone" [(ngModel)]="typephonePhone" placeholder="Тип телефона" name="typephonePhone">
        </div>
        <div class="form-group">
            <label for="systemPhone">System phone</label>
            <input type="text" class="form-control" id="systemPhone" [(ngModel)]="systemPhone" placeholder="Система" name="systemPhone">
        </div>
        <div class="form-group">
            <label for="memoryPhone">Memory phone</label>
            <input type="text" class="form-control" id="memoryPhone" [(ngModel)]="memoryPhone" placeholder="Память" name="memoryPhone">
        </div>
        <div class="form-group">
            <label for="screenPhone">Screen phone</label>
            <input type="text" class="form-control" id="screenPhone" [(ngModel)]="screenPhone" placeholder="Размер экрана" name="screenPhone">
        </div>
        <div class="form-group">
            <label for="cameraPhone">Camera phone</label>
            <input type="text" class="form-control" id="cameraPhone" [(ngModel)]="cameraPhone" placeholder="Камера" name="cameraPhone">
        </div>
        <button class="btn btn-success" (click)="createPhone()">Create</button>
    </form>
</div>