.phones {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 250px;
    float: left;
}
.phones li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 400px;
    border-radius: 4px;
}
.phones .text {
    position: relative;
    top: 0px;
}
img{
    width: 50px;
    height: 100px;
}
button{
    margin: 3px;
}